* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
}

:root { /* Light theme default */
  --bg-color: #f2f2f2; 
  --bg-secondary-color: #cdcdcd; 
  --primary-font-color: #484848;
  --secondary-font-color: #666; 
  --footer-font-color: #9c9c9c; 
  --button-color: #1FB8C6; 
  --button-disabled-color: #bcf0f4;
  --heading-color: #202D36;
  --text-box-bg: #e0e0e0;
  --text-area-bg: #ededed;
}

/* Dark theme styles applied on checkbox check */
body.dark {
  --bg-color: #212529; 
  --bg-secondary-color: #464f57; 
  --primary-font-color: #fff; 
  --secondary-font-color: #ddd; 
  --footer-font-color: #ddd; 
  --heading-color: #fff; 
  --text-box-bg: #333; 
  --text-area-bg: #3d3d3d; 
}

/* * {
  border: 1px solid black;
} */

body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  background: var(--bg-color);
  background: linear-gradient(90deg, var(--bg-color) 0%, var(--bg-secondary-color) 90%);
  color: var(--primary-font-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

a {
  color: var(--button-color);
  text-decoration: none;
}

.footer-section {
  /* background: var(--bg-color); */
  padding: 4rem 0 0 0;
}

.footer-section p {
  font-size: 11px;
  font-style: italic;
  color: var(--footer-font-color);
}

.desc-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* margin: 0 20rem; */
}

.desc-container p {
  flex-basis: 40%;
}

img {
  margin-top: -45px;
  max-height:200px;
  max-width: auto;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: var(--heading-color);
  margin-bottom: 30px;
  font-size: 32px;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 18px;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: 5rem 0; */
  /* padding: 20px; */
}

.text-box {
  width: 400px;
  height: 20rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--text-box-bg);
}

textarea {
  height: 300px;
  resize: none;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  color: var(--secondary-font-color);
  background-color: var(--text-area-bg);
}

.submit-button {
  position: relative;
  background-color: var(--button-color);
  color: var(--secondary-font-color);
  font-weight: bold;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: -5px;
}

.submit-button-text {
  transition: all 0.2s;
  color: var(--primary-font-color);
}

.submit-button:disabled{
  position: relative;
  background-color: var(--button-disabled-color);
  color: var(--secondary-font-color);
  opacity: 40%;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: -5px;
}

.submit-button--loading .submit-button-text {
  visibility: hidden;
  opacity: 0;
}

.submit-button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

/* Dark Theme toggle */
* {
  transition: 0.5s;  
}

:root {
  --toggle-height: 2rem;
  --toggle-width: 4rem;
}

#theme-checkbox,
#translation-checkbox {
  display: none;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: solid; */
  margin: 2rem 30%;
}

svg {
  width: 70%;
  position: absolute;    
}

label {
  border-radius: 999px;
  width: var(--toggle-width);
  height: var(--toggle-height);
  background-color: var(--bg-secondary-color);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
  cursor: pointer;
  position: relative;
}

.circle {
  border-radius: 99px;
  height: calc((var(--toggle-height) - 0.15rem));
  width: calc((var(--toggle-height) - 0.15rem));
  background-color: var(--bg-color);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05),
  -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(10%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#sun {
  margin-top: 0%;
  color: #FFCC33;
  opacity: 100%;
}

#moon {
  margin-top: -180%;
  color: #79C1F1;
}

#theme-checkbox:checked + .toggle-wrapper label .theme-button .circle {
  left: 100%;
  transform: translate(-110%, -50%);
  background: var(--bg-color);
}

#theme-checkbox:checked + .toggle-wrapper label .theme-button .circle #sun{
  margin-top: 180%;
  opacity: 0%;
}

#theme-checkbox:checked + .toggle-wrapper label .theme-button .circle #moon{
  margin-top: 0%;
}

/* Remove 0.5s transition for these elements */
body,
h1,
p,
.desc-container p,
.container,
.text-box,
textarea,
#summary,
.footer-section {
  transition: none; /* Remove transitions for these elements */
}

@media (max-width: 1401px) {
  .desc-container p {
    flex-basis: 50%;
  }
}


@media (max-width: 1201px) {
  .desc-container p {
    flex-basis: 80%;
  }

  .toggle-wrapper {
    margin: 2rem 10%;
  }
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .text-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid; */
    margin: 2rem 1.75rem;
  }

  .container {
    margin: 1rem 0 0 0;
  }

  .footer-section {
    margin: 1rem 0;
    }
}

@media (max-width: 480px) {
  .desc-container p {
    flex-basis: 90%;
  }
  
  .toggle-wrapper {
    margin: 2rem 0.5rem;
  }
}


@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}