#theme-checkbox,
#translation-checkbox {
    visibility: hidden;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid;
}

.theme-button {
    border: solid;
    border-radius: 999px;
    width: 4rem;
    height: 1.5rem;
}